<%= form_for(season) do |f| %>
  <% if season.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(season.errors.count, "error") %> kaydedilirken hata:</h2>

      <ul>
        <% season.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
          <% end %>
      </ul>
    </div>
    <% end %>

      <div class="" style="padding: 50px; margin-top:-100px">
        <div class="form-group">
          <div class="field-wrap">
            <span style="color:red"> Başlangıç zamanı </span>
            <br>
            <%= f.datetime_select :start_date %>
          </div>
        </div>
      </div>
      <%= f.hidden_field :worker_id, value: @owner %>

        <div class="" style="padding: 50px; margin-top:-100px">
          <div class="form-group">
            <div class="field-wrap">
              <span style="color:red"> Bitiş zamanı </span>
              <br>
              <%= f.datetime_select :end_date %>
            </div>
          </div>
        </div>

        <button type="button" class="btn btn-primary" style="margin: 50px; margin-top:-100px">
          <%= f.submit %>
        </button>
        <% end %>
