<style>
  .collapsing {background-color: #f5ffce;}
  .H{height: 150px}
</style>

<!-- Page Container -->
<div class="w3-container w3-content " style="max-width:1400px;">
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3">
      <!-- Profile -->
      <div class="w3-card-2 w3-round w3-white">
        <div class="w3-container">
          <button type="button" class="btn btn-default" style="margin-left: 90%;margin-top: 5px;">
            <%= link_to "", edit_worker_registration_path, class: "fa fa-pencil" %>
          </button>
          <h4 class="w3-center"> <%= current_worker.email %> </h4>
            <p class="w3-center"><img src="<%= current_worker.worker_image.url %>" class="w3-circle" style="height:106px;width:106px" alt="Resim"></p>
            <hr>
            <p><i class="fa fa-fw w3-margin-right w3-text-theme"></i>Ad Soyad:
              <%= current_worker.name %>
              <%= current_worker.lastname %>
            </p>
            <p><i class="fa fa-fw w3-margin-right w3-text-theme" style="margin-left: -6px"></i> Firma:
              <%= @firm.name %>
            </p>
        </div>
      </div>
      <br>
      <!-- Interests -->
      <div class="w3-card-2 w3-round w3-white w3-hide-small">
        <div class="w3-container">
          <p><center>Çalışan Yetenekleri</center></p>
          <hr>
          <p>
            <% if @yetenekler.present? %>
              <% @yetenekler.each do |y| %>
                <%= link_to y.name, ilanlar_path(:skillID => y.id), class: "w3-tag w3-small w3-theme-d5" %>
                  <% end %>
                    <% else %>
                      Her hangi bir yetenek eklenmedi
                      <% end %>
          </p>
        </div>
      </div>
      <br>
      <!-- End Left Column -->
    </div>

    <!-- Middle Column -->
    <div class="w3-col m6">
      <%= link_to 'Yeni ilan ekle', new_announcament_path,
        class: "w3-btn w3-theme-d6", style: "margin:10px; width:97%" %>
        <!-- İlan 1 -->
        <% if @ilanlar.present? %>
          <% @ilanlar.each do |i| %>
            <div class="w3-container w3-card-2 w3-white w3-round w3-margin">
              <br>
              <span class="w3-left w3-opacity-min"> <%= i.title %> </span>
              <span class="w3-right w3-opacity"> <%= i.created_at.strftime('%B %d, %Y %H:%M') %> </span>
              <p>
                <br>
                <%= i.body.html_safe %>
              </p>
              <div class="w3-container">
                <a href="#dem<%= i.id %>" class="" data-toggle="collapse" style="margin-left:48%">
                  <i class="fa fa-arrow-down" style="color: black"></i>
                </a>
                <div id="dem<%= i.id %>" class="collapse">
                  <p> Aranan Yetenekler</p>
                  <p>
                    <% if i.skill.present? %>
                      <% i.skill.each do |y| %>
                        <%= link_to y.name, ilanlar_path(:skillID => y.id), class: "w3-tag w3-small w3-theme-d5" %>
                          <% end %>
                            <% else %>
                              Yetenek eklenmemiş
                    <% end %>
                  </p>
                  <div id="butonlar">
                    <%= link_to 'Detay', i, {class: "w3-btn  w3-theme-d6 w3-margin-bottom",style:"margin-left: 320px"} %>
                    <%= link_to 'Düzenle', edit_announcament_path(i), {class: "w3-btn  w3-theme-d7 w3-margin-bottom"} %>
                    <%= link_to 'Sil', i, method: :delete, data: { confirm: 'Silinsin mi?' }, :class => "w3-btn  w3-theme-d2 w3-margin-bottom"%>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
              <% else %>
                Hiç ilan eklenmemiş
                <% end %>
                  <!-- End Middle Column -->
    </div>
    <!-- Right Column -->
    <div class="w3-col m3">
      <div class="w3-card-2 w3-round w3-white w3-center">
        <div class="w3-container">
          <p class="w3-center">
            <%= link_to ilanlar_path(:compID => @firm.id) do %>
              <%= image_tag @firm.company_icon.url, :class => "w3-circle",style: "height:106px;width:106px;margin-top:20px" %>
                <p>
                  <strong> <%= @firm.name %> </strong>
                </p>
                <% end %>
          </p>
          <p>
            <%= @firm.bio.html_safe %>
          </p>
        </div>
      </div>
      <br>
      <div class="w3-card-2 w3-round w3-white w3-padding-16 w3-center H">
        <p>Reklam</p>
      </div>
      <br>
      <div class="w3-card-2 w3-round w3-white w3-padding-16 w3-center H">
        <p>Reklam</p>
      </div>
      <!-- End Right Column -->
    </div>
    <!-- End Grid -->
  </div>
  <!-- End Page Container -->
</div>
