<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
<body class="bodyarkasi">
<div class="form" style="margin-left: 30%;margin-top: 1%">
  <ul class="tab-group">
    <li class="tab active"><a href="#signup" style="width: 100%">Kayıt</a></li>
  </ul>

  <div class="">

    <div id="signup">
      <h1>Bedava Kayıt Olun</h1>
        <div class="field-wrap">
          <%= f.label :name %>
          <%= f.text_field :name, autofocus: true %>
        </div>
        <div class="field-wrap">
          <%= f.label :lastname %>
          <%= f.text_field :lastname %>
        </div>

        <div class="field-wrap">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="field-wrap">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
        <div class="field-wrap nopadding">
          <%= f.label :Company %>
        </div>
        <div class="field-wrap" style="margin-left: 2%">
          <%= f.collection_select(:company_id, @comps, :id, :name, :include_blank => "Please select a company...") %>
        </div>
        <div class="field-wrap">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
        <div class="actions button button-block">
          <%= f.submit "Sign up" %>
        </div>
    </div>
  </div><!-- tab-content -->
<% end %>
<%= render "workers/shared/links" %>
</div> <!-- /form -->
<%= javascript_include_tag 'index' %>
</body>





