<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <body class="bodyarkasi3">
    <div class="form" style="margin-left: 5%;margin-top: 3%">
      <ul class="tab-group">
        <li class="tab active"><a href="#login" style="width: 100%">Giriş</a></li>
      </ul>
      <div class="">
        <div id="login">
          <h1>Hoş Geldiniz!</h1>
            <div class="field-wrap">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true %>
            </div>
            <div class="field-wrap">
              <%= f.label :password %>
              <%= f.password_field :password, autocomplete: "off" %>
            </div>
            <div class="button button-block">
              <%= f.submit "Giriş" %>
            </div>
<% end %>
<div class="forgot" style="margin-top: 5%">
  <%= render "members/shared/links" %>
</div>
</div>
</div><!-- tab-content -->
<%= javascript_include_tag 'index' %>
</div> <!-- /form -->
</body>

