<div class="container" style="margin-left: 630px;margin-bottom: 50px ">
  <%= link_to 'İlan Ekle', new_announcament_path, :class => "btn btn-info" %>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-0" style="margin-left: 60px">
    </div>
    <% @announcaments.each do |announcament| %>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">İlan Başlığı:<%= announcament.title %></h4>
          <p class="card-text">İlan İçeriği:<%= announcament.body.html_safe %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Şehir: <%= announcament.city %></li>
        </ul>
        <div class="card-block">
          <%= link_to 'Göster', announcament, :class => "btn btn-primary" %>
          <% if worker_signed_in? || company_signed_in? %>
          <%= link_to 'Düzenle', edit_announcament_path(announcament), :class => "btn btn-success" %>
          <%= link_to 'Sil', announcament, method: :delete, data: { confirm: 'Emin misin?' }, :class => "btn btn-danger" %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
    <div class="col-sm-1">
    </div>
  </div>
</div>
