<p id="notice"><%= notice %></p>

<h1>Announcaments</h1>

<table>
  <thead>
    <tr>
      <th>City</th>
      <th>Body</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @announcaments.each do |announcament| %>
      <tr>
        <td><%= announcament.city %></td>
        <td><%= announcament.body %></td>
        <td><%= announcament.title %></td>
        <td><%= link_to 'Show', announcament %></td>
        <td><%= link_to 'Edit', edit_announcament_path(announcament) %></td>
        <td><%= link_to 'Destroy', announcament, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Announcament', new_announcament_path %>
