<div class="container" style="margin-left: 450px">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"> <strong>Başlık:</strong>
            <%= @announcament.title %>
          </li>
          <li class="list-group-item"> <strong>Şehir:</strong>
            <%= @announcament.city %>
          </li>
          <li class="list-group-item"> <strong>İçerik:</strong>
            <%= @announcament.body.html_safe %>
          </li>
          <li class="list-group-item"><strong>İlanı veren kişi:</strong>
            <%= @auth.name %> <%= @auth.lastname %>
          </li>
          <li class="list-group-item"><strong>Yetenekler:</strong>
            <% if @skills.present? %>
              <% @skills.each do |y| %>
                <%= link_to y.name, ilanlar_path(:skillID => y.id), class: "w3-tag w3-small w3-theme-d5" %>
                  <% end %>
                    <% else %>
                      Yetenek eklenmemiş
                      <% end %>
          </li>
          <li class="list-group-item"><strong>Görüşme zamanı:</strong> <br>
            <% @seasons.each do |s| %>
                <%= s.start_date.strftime('%B %d, %Y %H:%M') %>,<br>
                  <% end %>
          </li>
          <div class="card-block" style="margin-left: 35px;margin-top: 15px">
            <% if @owner %>
              <%= link_to 'Düzenle', edit_announcament_path(@announcament), :class => "btn btn-success" %>
              <%= link_to 'Sil', @announcament, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
            <% end %>
              <%= link_to 'Başvuru Yap', new_appointment_path(:an_id => @announcament.id), :class => "btn btn-info" %>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
