<div class="container"></div>
<header class="" style="margin-top: -20px;height: 400px">
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div id="custom-search-input">
        <div class="input-group col-md-12">
          <input type="text" class="  search-query form-control" placeholder=" İlan ara" />
          <span class="input-group-btn">
            <button class="btn btn-danger" type="button"><span class=" glyphicon glyphicon-search"></span></button>
          </span>
        </div>
      </div>
      <img src="http://erdemgencoglu.16mb.com/image/slide3.jpg" style="height: 509px; width: 100%" alt="">
    </div>
  </div>
</header>
<br>
<div class="firmalar" style="width: 90%;padding-left: 10%">
  <div class='row'>
    <h2><center>Bizim ile Çalışan Firmalar</center></h2>
    <div class='col-md-8' style="margin-left: 17%">
      <div class="carousel slide media-carousel" id="media">

        <div class="carousel-inner">
          <div class="item  active">
            <div class="row ">
                <% Company.all.limit(3).each do |c|%>
                  <div class="col-md-4">
                    <img class="img-circle img-responsive img-center" src="<%=c.company_icon.url %>" alt="">
                    <center><h5><%= c.name %></h5></center>
                  </div>
                <%end%>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-md-4">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
                <center><h5>Firma #4</h5></center>
              </div>
              <div class="col-md-4">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
                <center><h5>Firma #5</h5></center>
              </div>
              <div class="col-md-4">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
                <center><h5>Firma #6</h5></center>
              </div>

            </div>
          </div>
        </div>
        <a data-slide="prev" href="#media" class="left carousel-control" style="margin-left: -35%">‹</a>
        <a data-slide="next" href="#media" class="right carousel-control" style="margin-right: -35%">›</a>
      </div>
    </div>
  </div>
</div>
<!-- Page Content -->
<div class="container firmaalticontainer ">
  <!-- Page Features -->
  <div class="row text-center">
    <div class="col-md-4">
      <h4>Son İlanlar</h4>
      <% Announcament.all.order("created_at DESC").limit(5).each do |c|%>
      <ul class="list-group">
            <li class="list-group-item"><%=c.title %></li>
      </ul>
        <%end%>
      <h4>Son ilan veren Firmalar</h4>
      <% Company.all.order("created_at DESC").limit(3).each do |c|%>
          <div class="col-md-6" style="margin-left:25%">
            <img class="img-circle2 img-responsive" src="<%=c.company_icon.url %>" alt="">
            <center><h5><%=c.name %></h6></h5></center>
          </div>
      <%end%>
    </div>
    <h4>Tüm Yetenekler</h4>
    <div class="col-md-8">
      <div class="col-md-6 nopadding">
        <div class="thumbnail">
          <img class="card-img-top" src=""><%= link_to(image_tag("hizmet_personeli.png"), root_path) %>
        </div>
      </div>
      <div class="col-md-6 nopadding">
        <div class="thumbnail">
          <img class="card-img-top" src=""><img class="card-img-top" src=""><%= link_to(image_tag("isci.png"), root_path) %>
        </div>
      </div>
      <div class="col-md-6 nopadding">
        <div class="thumbnail">
          <img class="card-img-top" src=""><img class="card-img-top" src=""><%= link_to(image_tag("mezun.png"), root_path) %>
        </div>
      </div>
      <div class="col-md-6 nopadding">
        <div class="thumbnail">
          <img class="card-img-top" src=""><img class="card-img-top" src=""><%= link_to(image_tag("uzman.png"), root_path) %>
        </div>
      </div>
      <div class="col-md-6 nopadding">
        <div class="thumbnail">
          <img class="card-img-top" src=""><img class="card-img-top" src=""><%= link_to(image_tag("yönetici.png"), root_path) %>
        </div>
      </div>
      <div class="col-md-6 nopadding">
        <div class="thumbnail">
          <img class="card-img-top" src=""><img class="card-img-top" src=""><%= link_to(image_tag("engelli.png"), root_path) %>
        </div>
      </div>
    </div>
  </div>
  <hr>


</div>
<%= javascript_include_tag 'jquery.js' %>

<!-- /.container -->
</body>
</html>


