<body class="bodyarkasi2">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<div class="form" style="margin-left: 30%;margin-top: 1%">
  <ul class="tab-group">
    <li class="tab active"><a href="#signup" style="width: 100%">Kayıt</a></li>
  </ul>

  <div class="">

    <div id="signup">
      <h1>Bedava Kayıt Olun</h1>
        <p style="background: white"><%= devise_error_messages! %></p>
        <div class="field-wrap">
          <%= f.label :name %>
          <%= f.text_field :name, autofocus: true %>
        </div>
        <div class="field-wrap">
          <%= f.label :bio %>
          <%= f.text_field :bio %>
        </div>
        <div class="field-wrap">
          <%= f.label :email %>
          <%= f.email_field :email %>
        </div>
        <div class="field-wrap">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
        <div class="field-wrap">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
        <div class="field-wrap">
          <%= f.label :company_poster %>
        </div>
        <div class="field-wrap">
          <%= f.file_field :company_poster %>
        </div>
        <div class="field-wrap" style="margin-top: -30px">
          <%= f.label :company_icon %>
        </div>
        <div class="field-wrap" style="margin-top: -30px">
          <%= f.file_field :company_icon %>
        </div>
        <button type="submit" class="button button-block"/><%= f.submit "Kaydol" %></button>
<% end %>
<%= render "companies/shared/links" %>
    </div>
  </div><!-- tab-content -->

</div> <!-- /form -->
<%= javascript_include_tag 'index' %>
</body>
