<p id="notice">
  <%= notice %>
</p>
<div class="container" style="margin:20px">
  <p>
    <strong>Body:</strong>
    <%= @appointment.body.html_safe %>
  </p>

  <p>
    <strong>Season:</strong>
    <% if @appointment.season_id.present? %>
      <%= @sea.start_date.strftime('%B %d, %Y %H:%M') %>
        <% else %>
          No season
          <% end %>
  </p>

  <p>
    <strong>Member:</strong>
    <%= @me.name %> <%= @me.lastname %>
  </p>

  <p>
    <strong>Announcament:</strong>
    <%= @ans.title %>
  </p>
</div>
