<p id="notice">
  <%= notice %>
</p>
<div class="container" style="margin:20px">
  <p>
    <strong>İlan metni:</strong>
    <%= @appointment.body.html_safe %>
  </p>

  <p>
    <strong>Season:</strong>
    <% if @appointment.season_id.present? %>
      <%= @sea.start_date.strftime('%B %d, %Y %H:%M') %>
        <% else %>
          Zaman aralığı yok
          <% end %>
  </p>

  <p>
    <strong>Üye:</strong>
    <%= @me.name %> <%= @me.lastname %>
  </p>

  <p>
    <strong>İlan:</strong>
    <%= @ans.title %>
  </p>
</div>
